/*--ellipsis--*/
.elpsis {
    display: inline-block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;   
}


/*--button Type1--*/
.btnT1 {    
    display: inline-block;
    position: relative;
        
    background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    
    padding: 2px 5px 2px 4px;
    color: #333;
    
    text-shadow: 0 1px 0 #fff;   
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    
    font: 700 11px/14px 'Helvetica Neue',Helvetica,Arial,sans-serif;  
}

.btnT1:hover {
    background-image: linear-gradient(to bottom, #ededed 0, #dcdcdc 100%);
    border-left-color: #dcdcdc;
}

.btnT1_ico {  
     float: left;
     width: 14px;
     height: 14px;
     margin-right: 4px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     fill: #333;
}


/*--button Type1 in #footer--*/
#footer a.btnT1 {    
    display: inline-block;
    position: relative;
        
    background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    
    padding: 2px 5px 2px 4px;
    color: #333;
    
    text-shadow: 0 1px 0 #fff;   
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    
    font: 700 11px/14px 'Helvetica Neue',Helvetica,Arial,sans-serif;  
}

#footer a.btnT1:hover {
    background-image: linear-gradient(to bottom, #ededed 0, #dcdcdc 100%);
    border-left-color: #dcdcdc;
}

#footer .btnT1_ico {  
     float: left;
     width: 14px;
     height: 14px;
     margin-right: 4px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     fill: #333;
}

